# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Terraform local files
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local AWS/config overrides
*.tfvars
!*.tfvars.example
.env
.env.*
